.bssness0090{
    padding: 10px 10px 10px 10px;
}
.bssness0091{
    font-size: 25px;
    font-weight: 700;
}

.bssness0092{
    margin-top: 20px;
}

.xkl090{
    font-size: 20px;
    color: rgb(207, 132, 132);
}

@media (min-width:641px)  {
    .bssness0090{
        padding: 20px 20px 20px 20px;
    }
    
    .bssness0092{
        display: flex;
    }

    .xkl090{
        font-size: 20px;
        color: rgb(207, 132, 132);
        border-right: 1px solid #504f4f;
        padding-right: 10px;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
    }

    .xkl091{
        padding-left: 10px;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
    }
}