<html>

<head>
    <title>Home Page</title>
    <link rel="icon" href="/jskl899nxhsjas/" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dingtra-web-assets/css/csshm001/csshmrs090.css" />
    <script src="/makeding/main/assets/js/feather/feather.js"></script>
    <script src="/makeding/main/assets/js/jquery.js"></script>
</head>

<body >
    {{.RenderHtml}}
    <script>
        feather.replace()
    </script>
</body>

</html>